<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Hello</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody th:each="person:${people}"><!--Hace un recorrido por people y saca un objeto person en cada pasada-->
            <tr>
                <th th:text="${person.name}"></th>
                <th th:text="${person.age}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>